h1.page-heading {
  margin-left: -9px;
  margin-top: -5px !important;
  top: 250;
  padding: 10px;
  font-size: 16px;
  color:#e4514b;
  font-weight: 700;
  text-transform: uppercase;
}

h1.dashboard-header {
  margin-left: -9px;
  margin-top: -6px !important;
  top: 250;
  padding: 10px;
  font-size: 16px;
  color:#e4514b;
  font-weight: 700;
  text-transform: uppercase;
}

.filter{
  display: flex;
    justify-content: right;
    margin-top: -48px;
}

/* .view-room{
  width: 100% !important;
	margin-top: 10px !important;
	/* margin-bottom: 38px; */
	/* height: 85px !important;
	margin-left: 0 !important;
} */ 

.room-options{
  margin-top: -40px;
  margin-left:-11px;
}

.setroom-btn{
  padding-left: 0px;
    margin-left: -5px;
}

.register{
   margin-left: 12px;
   top: 250;
  padding: 10px;
  font-size: 16px;
  color:#e4514b;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -4px;
}
.form{
  margin-left: -11px !important;
  margin-right: -8px !important;
}

.cities-row{
  margin-left: -11px;
    margin-right: -4px;
}

.set-room{
  display: flex;
    /* align-items: center; */
    /* gap: 20px; */
    margin-bottom: 20px;
    justify-content: right;
    margin-top: -51px;
    margin-left: 142px;
}

.view-col{

}

.third .col-lg-3{
  margin-left: -21px;
  margin-right: 25px;
}
.card-container .the-box {
  padding: 15px;

  margin-bottom: 30px;

  background: #fff;

  border: 1px solid #d5dae0;

  position: relative;
  margin-right: 8px;
}

.card-container .row {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.card-container #registerhotelid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
  margin-left: 0px;
}

.card-header .row {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.card-header .form-header {
  margin-left: 14px;
  margin-top: 5px;
  top: 250;
  padding: 10px;
  font-size: 16px;
  color: #e4514b;
  font-weight: bold;
  text-transform: uppercase;
}
.card-container {
  margin-left: -6px;
  padding-right: 28px;
  margin-right: -26px;
}

.card-body-1 {
  flex: 1;
  min-width: 150px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 5px;
}

.book-div{
  display: flex; gap: 5px; margin-left: 35px; margin-top:8px;
}

#book-brn{
  height: 29px; width: 125px; font-size: 11px;
}
.card-container .form-control {
  width: 210px;
  margin-left: 15px;
}
#book-submit{
  height: 29px; display: flex; align-items: center; justify-content: center; font-size: 11px;
}

.btn-booked{
  height: 29px; color: #fff; font-size: 12px; display: flex; align-items: center;
  background-color: #e45452;
}
.card-container #retype_password {
  font-size: 12px;
  margin-left: -490px;
}


.card-container #password {
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 32px;
}
.card-container .col-md-1 {
  flex: 1;
  min-width: 234px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 7px;
  padding: 0;
  margin-left: 8px;
}
.card-container .submit-button {
  margin: 8px;
  width: 492px;
  text-transform: uppercase;
  margin-left: 14px;
  margin-top: -8px;
}

.link-1 {
  font-size: 11px;
  color: #656d78;
  position: relative;
  top: 5px;
  font-weight: 900;
}
.addnewstaff {
  background-color: #e4514b;
  color: white;
}

h3.panel-title {
  font-size: 10px;
}

.dashboard-2 {
  /* margin-left: -10px;
  margin-right: 7px; */
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row-dashboard {
  margin: 10px;
  margin-left: 29px;
  margin-right: 23px;
}

.h1.tiles-number {
  margin: 0 0 15px 0;

  padding: 10px 0;

  font-size: 34px;

  line-height: 95%;
}
.form-label {
  font-size: 11px;
  text-transform: uppercase;
  margin-left: 3px;
  margin-top: 8px;
}

.card-header {
  background-color: #dcdcdc;
  height: 40px;
}

.hotels-card {
  margin-left: -21px;
}

.row{
  margin-left: 7px;
  margin-right: 26px;
}

.div{
  display: flex;
}

.size {
  width: 5%;
  height: auto;
}

.padd-zero {
  padding: 0px;
}

.from-date {
  margin-left: 66%;
}

.border-none {
  border: 0px;
  border-top: 0px !important;
  border-left: 0px !important;
  border-bottom: 0px !important;
}

.tb-color {
  background-color: #1ea966;
  color: #fff;
  font-size: 11px;
  text-align: center !important;
}

.tb-color-1 {
  color: #010101;
  font-size: 12px;
  padding: 0px !important;
  text-align: center !important;
  border-top: 1px solid #ddd !important;
  font-weight: 700;
}

.tb-color-2 {
  color: #656d78;
  font-size: 12px;
  padding: 0px !important;
  text-align: center !important;
  font-weight: 700;
}

.mg-top {
  margin-top: 20px;
}

.br-none {
  border: none;
}

.padd-zero {
  padding: 0px !important;
}

.head {
  border: 1px solid;
  text-align: center;
  padding: 5px;
  width: 25%;
  height: auto;
  margin-left: 400px;
}

.head h2 {
  font-size: 12px !important;
  color: #010101;
  margin: 0px;
}

.back {
  width: 25px;
  height: 14px;
  border: 1px solid;
  float: left;
}

.col-1 {
  background-color: #ff6c60;
}

.col-2 {
  background-color: #1ea966;
}

.col-3 {
  background-color: #f6bb42;
}

.text {
  font-size: 12px !important;
  color: #010101;
  float: left;
  padding-bottom: 10px;
  padding-right: 35px;
}

.float {
  float: left;
}

.info {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}

.margin {
  margin: 0px !important;
}

.tr-1 {
  background-color: #dbeef7;
}
.add-rooms-type {
  font-size: 12px;
}
.room-type {
  height: 40%;
  padding: 30px 30px;
}
.room-type1 {
  height: 50%;
}
.room-cards {
  margin-right: 8px;
}
.small-headings {
  margin-left: 15px;
}


.available-rooms-box {
 
  /* border: 2px solid #ccc;     */
border-radius: 8px !important;
padding: 15px !important;
background-color: #f4f4f4 !important;
font-family: Arial, sans-serif !important;
overflow-y: scroll !important;
height: 200px !important;
}

.available-rooms-box h3 {
  text-align: center !important;
  margin-bottom: 15px !important;
  font-size: 18px !important;
  
}

.room-type {
  display: flex !important;
  align-items: center !important;
  background: #fff !important;
  border: 1px solid #ddd !important;
  border-radius: 6px !important;
  padding: 8px 12px !important;
  margin-bottom: 10px !important;
  justify-content: space-between !important;
}

.count {
  
  color: black !important;
  /* padding: 6px 12px; */
  /* border-radius: 50%; */
  font-weight: bold !important;
  font-size: 16px !important;
  min-width: 30px !important;
  text-align: center !important;
}

.label {
  font-size: 13px !important;
  color: #fff !important;
  text-transform: uppercase;
}
.h-247{
    height: 247px !important;
}
.panel-heading-font .panel-title{
    font-size: 16px !important;
}
.Active-CM{
}
/* .box {
  text-align: center;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  width: 300px;
  margin: 0 auto;
}

.title {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.count {
  font-size: 40px;
  margin-top: 20px;
} */

.rotate {
    width: 1px !important;
    background: #000000 !important;
    height: 180px !important;
    margin: 10px 0 !important;
}
.count span{
    font-size: 30px !important;
}

.count .divider{
    font-size: 30px !important;
}

.Active-CM{
    background-color: rgba(0, 0, 0, 0.1) !important;
    font-weight: 700 !important;
    color: #e45452 !important;
    border: 2px solid #e45452 !important ;
    border-radius: 10px !important;
    padding: 0px 8px !important;
    margin-right: 22px !important;
}

.sub-header{
  width:280px;float:left;font-size:13px; margin-left:-15px;
}

.form-header{
  /* background-color: #DCDCDC; */
    margin-left: -15;
    margin-right: -15px;
    margin-top: -15px;
}
.agent-section3 .form-header{
  /* background-color: #DCDCDC; */
    margin-left: 10px;
    margin-right: 15px;
    margin-top: -15px;
}
.w-11 {
    width: 25%;
}

/* .hotelstaffheading{
  width: 200px !important;
} */

.btn-agent{
  background-color: #db462c;
    border-color: #db462c;
    color: white;
}

.btn-reset{
  color: white;
 background-color: #37bc9b;
}
 footer .col-lg {
  width:42%;
 }